.unit {
                color: rgb(138, 8, 138);
            }
            .center {
                float: center;
            }
            .top {
                font-size: 26px;
            }
            .menu {
                
                float: right;
            }
            .lesson {
                width: 100%;
                height: 200px;
                background: rgb(233, 239, 242);
                font-size: 50px;
                color: rgb(13, 105, 166);
            }
            .title {
                color: rgb(16, 155, 168);
                width: 100%;
                height: 200px;
            }
            .right {
                float: right;
            }
            .left {
                float: left;
            }
            .hr-title {
                width: 100%;
                padding: 4px;
            }
            .red {
                color: red;
            }
            .bg-yellow {
                width: 100%;
                background: yellow;
                border: 2px solid red;
                border-bottom: 0;
                padding: 10px;
            }
            .bg-yellow-line {
                border: 2px solid white;
                padding: 3px;
            }
            td {
                padding: 8px;
            }
            body, table {
                margin: 20px;
                font-size: 30px;
            }
            .img-center {
                width: 100%;
            }
            .l-f {
                background: rgb(175, 77, 214);
                font-size: 20px;
                color: yellow;
            }
            a {
                text-decoration: none;
            }
            div.lessons, div.lessons a {
                width: 100%;
                background: rgb(209, 151, 209);
                padding: 5px;
                color: white;
                
            }
            a:active {
                color: green;
            }
            a:visited {
                color: white;
                background: orange;
            }
